<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Admin page</title>
</head>
<body>
    <div class="container">
        <form th:action="@{/admin/home/all}" method="get">
            <label>Click here to get all users</label>
            <button type="Submit" th:text="getAll">Get All</button>
        </form>

        <form th:action="@{/admin/home/getuserbyid}">
            <label for="id">Search For ID</label><input name="id" id="id" type="number">
            <button type="submit">Go</button>
        </form>

        <form th:action="@{/admin/home/getuserbyfirstname}">
            <label for="name1">Search For Firstname</label><input name="name1" id="name1" type="text">
            <button type="submit">Go</button>
        </form>

        <form th:action="@{/admin/home/getuserbylastname}">
            <label for="name2">Search For Lastname</label><input name="name2" id="name2" type="text">
            <button type="submit">Go</button>
        </form>

        <form th:action="@{/admin/home/getbybirthday}">
            <label for="date">Search For Birthday</label><input name="date" id="date" type="date">
            <button type="submit">Go</button>
        </form>

        <form th:action="@{/logout}" method="get">
            <button type="Submit" th:text="Logout">Logout</button>
        </form>
    </div>
</body>
</html>