<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>update page</title>
</head>
<body>
<div class="container">
    <form autocomplete="off" action="#" th:action="@{/admin/home/update}" th:object="${user}" method="post" class="form-horizontal" role="form">

        <h2>Update Form</h2>

        <div class="form-group">

            <div>
                <input type="number" th:field="*{id}" placeholder="ID" class="form-control" />
            </div>

            <div>
                <label th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" class="validation-message"></label>
                <input type="text" th:field="*{firstname}" placeholder="First Name" class="form-control" />
            </div>

            <div>
                <label	th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" class="validation-message"></label>
                <input type="text" th:field="*{lastname}" placeholder="Last Name" class="form-control" />
            </div>

            <div class="col-sm-9">
                <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></label>
                <input type="text" th:field="*{email}" placeholder="Email" class="form-control" />
            </div>

            <div>
                <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="validation-message"></label>
                <input type="text" th:field="*{username}" placeholder="Username" class="form-control" />
            </div>

            <div>
                <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label>
                <input type="password" th:field="*{password}" placeholder="Password" class="form-control" />
            </div>

            <div>
                <button type="submit" >Update User</button>
            </div>

        </div>

        <span th:utext="${successMessage}"></span>

    </form>
</div>
</body>
</html>