<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/modules/bootstrap/dist/css/bootstrap.min.css">
    <title>No Access Page</title>
</head>
<body>
    <div class="container">
        <div class="error-template">
            <h1>Secure content is being accessed</h1>
            <h2>403 Access denied</h2>
        </div>
    </div>
</body>
</html>