<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ID Page</title>
</head>
<body>
    <div class="container">
        <div>
            <h2>USER ID</h2>
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                </tr>
                <tr th:each="user : ${id}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.firstname}"></td>
                    <td th:text="${user.lastname}"></td>
                    <td th:text="${user.email}"></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>