<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <form th:action="@{/login}" method="post">
            <h1 th:text="Welcome"></h1>
            <br/>
            <input type="text" id="username" name="username" th:th:placeholder="Email" title="Username">
            <br/>
            <input type="password" id="password" name="password" title="Password">
            <br/>
            <div th:if="${param.error}">
                <p>Username or Password invalid, please verify</p>
            </div>
            <button name="Submit" value="Login" type="Submit" th:text="Login">Submit</button>
        </form>
    </div>
</body>
</html>