<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/modules/bootstrap/dist/css/bootstrap.min.css">
    <title>Update Page</title>
</head>
<body>
    <div class="container col-4">
        <form action="#" th:action="@{/admin/home/update}" th:object="${user}" method="post">

            <h2>Update Form</h2>

            <div class="form-group">
                <div>
                    <input type="text" th:field="*{id}" placeholder="Id" class="form-control" />
                </div>

                <div>
                    <label th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" class="validation-message"></label>
                    <input type="text" th:field="*{firstname}" placeholder="First Name" class="form-control" />
                </div>

                <div>
                    <label	th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" class="validation-message"></label>
                    <input type="text" th:field="*{lastname}" placeholder="Last Name" class="form-control" />
                </div>

                <div>
                    <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="validation-message"></label>
                    <input type="text" th:field="*{username}" placeholder="Username" class="form-control" />
                </div>

                <div>
                    <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label>
                    <input type="password" th:field="*{password}" placeholder="Password" class="form-control" />
                </div>

                <div>
                    <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></label>
                    <input type="email" th:field="*{email}" placeholder="Email" class="form-control" />
                </div>

                <div>
                    <label th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}" class="validation-message"></label>
                    <input type="date" th:field="*{birthday}" placeholder="Birthday" class="form-control" />
                </div>

                <div>
                    <label th:if="${#fields.hasErrors('zip')}" th:errors="*{zip}" class="validation-message"></label>
                    <input type="text" th:field="*{zip}" placeholder="Zip" class="form-control" />
                </div>

                <div>
                    <label th:if="${#fields.hasErrors('country')}" th:errors="*{country}" class="validation-message"></label>
                    <input type="text" th:field="*{country}" placeholder="Country" class="form-control" />
                </div>

                <div>
                    <label th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="validation-message"></label>
                    <input type="text" th:field="*{city}" placeholder="City" class="form-control" />
                </div>

                <div>
                    <label th:if="${#fields.hasErrors('district')}" th:errors="*{district}" class="validation-message"></label>
                    <input type="text" th:field="*{district}" placeholder="District" class="form-control" />
                </div>

                <div>
                    <label th:if="${#fields.hasErrors('street')}" th:errors="*{street}" class="validation-message"></label>
                    <input type="text" th:field="*{street}" placeholder="Street" class="form-control" />
                </div>

                <div>
                    <button class="btn btn-sm btn-success btn-block" type="submit">Update User</button>
                </div>
            </div>

            <span th:utext="${successMessage}"></span>
            <span th:utext="${errorMessage}"></span>

        </form>
    </div>
</body>
</html>